;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Wed Dec 12 09:16:03 2012
;; Desktop file format version 206
;; Emacs version 23.2.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring '("century" "mono" "cent" "mono" "monosp" "century schoolbook-" "consol" "incon" "fixed" "font" "bdf" "ivan" "fon" "iv" "desktop-d" "save"))
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("~/.emacs.d/iv-emacs/iv-arch-w32.el" "~/.emacs.d/iv-emacs/iv-basic.el" "~/.emacs.d/iv-emacs/" "//alcazar/Documents/MasterArchv/emacs-lisp/iv-emacs" "//alcazar/Documents/MasterArchv/emacs-lisp/" "~/.emacs.d/iv-emacs/iv-fonts.el" "~/.emacs.d/iv-emacs/" "//alcazar/Documents/MasterArchv/emacs-lisp/" "~/.emacs.d/iv-emacs/" "~/.emacs.d/iv-emacs/iv-default.el" "~/.emacs.d/iv-emacs/" "~/.emacs.d/iv-emacs" "~/.emacs.d/" "//alcazar/Documents/MasterArchv/emacs-lisp/" "~/.emacs.d/init.el" "~/.emacs.d/iv-emacs/iv-basic.el" "~/.emacs_bash" "~/.emacs.d/" "~/.emacs.d/iv-emacs/" "~/.emacs.d/iv-emacs/iv-default/" "~/.emacs.d"))

;; Buffer section -- buffers listed in same order as in buffer list:
