;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Tue Dec 11 08:22:43 2012
;; Desktop file format version 206
;; Emacs version 24.1.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring '("century" "mono" "cent" "mono" "monosp" "century schoolbook-" "consol" "incon" "fixed" "font" "bdf" "ivan" "fon" "iv" "desktop-d" "save"))
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("~/.emacs.d/iv-emacs/iv-arch-w32.el" "~/.emacs.d/iv-emacs/iv-basic.el" "~/.emacs.d/iv-emacs/" "//alcazar/Documents/MasterArchv/emacs-lisp/iv-emacs" "//alcazar/Documents/MasterArchv/emacs-lisp/" "~/.emacs.d/iv-emacs/iv-fonts.el" "~/.emacs.d/iv-emacs/" "//alcazar/Documents/MasterArchv/emacs-lisp/" "~/.emacs.d/iv-emacs/" "~/.emacs.d/iv-emacs/iv-default.el" "~/.emacs.d/iv-emacs/" "~/.emacs.d/iv-emacs" "~/.emacs.d/" "//alcazar/Documents/MasterArchv/emacs-lisp/" "~/.emacs.d/init.el" "~/.emacs.d/iv-emacs/iv-basic.el" "~/.emacs_bash" "~/.emacs.d/" "~/.emacs.d/iv-emacs/" "~/.emacs.d/iv-emacs/iv-default/" "~/.emacs.d"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "c:/Users/Janet Rothers/AppData/Roaming/.emacs.d/iv-emacs/iv-arch-w32.el"
  "iv-arch-w32.el"
  'emacs-lisp-mode
  nil
  840
  '(840 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  "c:/Users/Janet Rothers/AppData/Roaming/.emacs.d/iv-emacs/iv-basic.el"
  "iv-basic.el"
  'emacs-lisp-mode
  nil
  900
  '(1004 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  nil
  "iv-basic.el<2>"
  'dired-mode
  nil
  182
  '(nil nil)
  t
  '("c:/Users/Janet Rothers/AppData/Roaming/.emacs.d/iv-emacs/iv-basic.el")
  nil)

(desktop-create-buffer 206
  nil
  "iv-emacs"
  'dired-mode
  nil
  665
  '(1 nil)
  t
  '("c:/Users/Janet Rothers/AppData/Roaming/.emacs.d/iv-emacs/")
  nil)

(desktop-create-buffer 206
  "//alcazar/Documents/MasterArchv/emacs-lisp/iv-emacs/iv-default.el"
  "iv-default.el<2>"
  'emacs-lisp-mode
  nil
  5346
  '(5339 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  nil
  "emacs-lisp"
  'dired-mode
  nil
  1749
  '(349 nil)
  t
  '("//alcazar/Documents/MasterArchv/emacs-lisp/")
  nil)

(desktop-create-buffer 206
  "c:/Users/Janet Rothers/AppData/Roaming/.emacs.d/iv-emacs/iv-fonts.el"
  "iv-fonts.el"
  'emacs-lisp-mode
  nil
  154
  '(38 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "c:/Users/Janet Rothers/AppData/Roaming/.emacs.d/init.el"
  "init.el"
  'emacs-lisp-mode
  nil
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  "c:/Users/Janet Rothers/AppData/Roaming/.emacs.d/iv-emacs/iv-default.el"
  "iv-default.el"
  'emacs-lisp-mode
  nil
  141
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  nil
  "fonts<2>"
  'dired-mode
  nil
  279
  '(589 nil)
  t
  '("c:/Users/Janet Rothers/AppData/Roaming/.emacs.d/iv-emacs/fonts/")
  nil)

(desktop-create-buffer 206
  nil
  ".emacs.d"
  'dired-mode
  nil
  706
  '(nil nil)
  t
  '("c:/Users/Janet Rothers/AppData/Roaming/.emacs.d/")
  nil)

(desktop-create-buffer 206
  nil
  "fonts"
  'dired-mode
  nil
  220
  '(nil nil)
  t
  '("//alcazar/Documents/MasterArchv/emacs-lisp/iv-emacs/fonts/")
  nil)

(desktop-create-buffer 206
  "c:/Users/Janet Rothers/AppData/Roaming/.emacs_bash"
  ".emacs_bash"
  'fundamental-mode
  nil
  131
  '(1 nil)
  nil
  nil
  '((buffer-file-coding-system . iso-latin-1-dos)))

