[submodule "vendors/inf-ruby"]
	path = vendors/inf-ruby
	url = git://github.com/nonsequitur/inf-ruby.git
[submodule "vendors/pylookup"]
	path = vendors/pylookup
	url = git://github.com/tsgates/pylookup.git
[submodule "vendors/emacs-w3m"]
	path = vendors/emacs-w3m
	url = git://github.com/sjatkinson/emacs-w3m.git
