[submodule "vendors/inf-ruby"]
	path = vendors/inf-ruby
	url = git://github.com/nonsequitur/inf-ruby.git
[submodule "vendors/pylookup"]
	path = vendors/pylookup
	url = git://github.com/tsgates/pylookup.git
[submodule "vendors/pymacs"]
	path = vendors/pymacs
	url = git://github.com/pinard/Pymacs.git
[submodule "vendors/auto-complete"]
	path = vendors/auto-complete
	url = https://github.com/auto-complete/auto-complete
[submodule "vendors/w3"]
	path = vendors/w3
	url = http://git.sv.gnu.org/r/w3.git
[submodule "vendors/magit"]
	path = vendors/magit
	url = https://github.com/magit/magit.git
[submodule "vendors/git-emacs"]
	path = vendors/git-emacs
	url = https://github.com/tsgates/git-emacs.git
[submodule "vendors/win-switch"]
	path = vendors/win-switch
	url = https://github.com/genovese/win-switch.git
